body {
    background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
  }
  
  div {
    margin: 120px 0;
    text-align: center;
  }
  p {
    font-family: Meiryo, "Hiragino Kaku Gothic Pro W3", Courier New, sans-serif;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #fff;
  }